
/* Color Variables */
:root {
  --primary-color: #333;
  --secondary-color: #FF6F61; 
  --background-color: #53883b77; 
  --text-color: #333;
}

/* General styles */
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 32px;
  min-height: 100vh;
  background-color: var(--background-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: var(--primary-color);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* AddTodoForm styles */
.addTodoForm {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addTodoForm form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem; 
}

.addTodoForm button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.75em 1.5em;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addTodoForm button:hover {
  background-color: #e55a4e; 
}

/* TodoList styles */
.todoList {
  width: 100%;
  max-width: 600px;
  margin-top: 30px;
  padding: 1rem;
  background-color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.todoList ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todoList li {
  background: #fff; 
  color: var(--text-color);
  border-radius: 8px;
  padding: 1em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todoList button {
  background: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5em 1em;
  cursor: pointer;
}

.todoList button:hover {
  background: #e55a4e; 
}

/* Button styles */
.button-container {
  display: flex;               
  justify-content: center;      
  align-items: center;          
  margin: 20px 0; 
}

.button {
  margin: 0 10px;             
  border-radius: 8px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
}

.button.sort {
  background-color:rgb(51, 127, 150) ;
}

.button.sort:hover {
  background-color: #006b92; 
}

/* Responsive styles */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
@media (max-width: 600px) {
  .button-container {
    flex-direction: column; 
  }
  .button {
    margin-bottom: 1rem; 
    width: 100%; 
  }
}

